

<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" [opened]="true" mode="side">
    <div class="logo-container"> 
      PLATZ FÜR LOGO
    </div>
    <ul class="menu">
      <li routerLink="/" routerLinkActive="router-link-active" class="menu-item"><mat-icon><span class="material-symbols-outlined">
        space_dashboard
        </span></mat-icon>Dashboard</li>
      <li routerLink="/user" routerLinkActive="router-link-active" class="menu-item"><mat-icon>person</mat-icon>User</li>
    </ul>
  </mat-drawer>


  <div class="example-sidenav-content">

    <mat-toolbar color="primary">
      <mat-toolbar-row>
          <mat-icon (click)="drawer.toggle()" class="menu-icon">menu</mat-icon>
          <span>Simple CRM</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="router-container">
      <router-outlet></router-outlet>
    </div>
    

  </div>

</mat-drawer-container>