.user-detail-header {
    min-height: 250px;
    background-color: #ff5b27;
    color: white;
    display: flex;
    align-items: flex-end;
    flex-direction: row;

    img {
        height: 100px;
        width: 100px;
        border-radius: 100%;
        object-fit: cover;
    }

    
}

.user-details {
    display: flex;
    flex-direction: column;
    height: 100px;
    width: fit-content;
    margin-left: 16px;
    object-fit: cover;
    justify-content: center;
    h2 {
        margin: 0;
    }
}
