

<mat-card class="user-detail-header" *ngIf="(user$ | async) as user">
  <mat-card-header>
    <button class="menu" [matMenuTriggerFor]="userMenu" mat-icon-button >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="editUserdetail()">Edit</button>
    </mat-menu>
    <img mat-card-avatar src="assets/img/profile.png" alt="Profile Picture">
    <div class="user-details-mail-and-name">
      <h2>{{ user.firstName }} {{ user.lastName }}</h2>
      {{ user.email }}
    </div>
  </mat-card-header>
</mat-card>

<mat-card class="user-details-main">
  <mat-card-content *ngIf="(user$ | async) as user">
    <button class="menu" [matMenuTriggerFor]="adressmenu" mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #adressmenu="matMenu">
      <button mat-menu-item (click)="editMenu()">Edit</button>
    </mat-menu>
    <h3>Address</h3>
    <p>{{ user.street }} <br>{{ user.zipCode }} {{ user.city }}</p>
    <p><strong>Geburtsdatum:</strong> {{ user.birthDate | date }}</p>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="!loading && error">
  <p>{{ error }}</p>
</mat-card>
