
<mat-card appearance="outlined">
  <table class="user-table">

    <thead>
      <tr> 
        <th>Name</th>
        <th>E-Mail</th>
        <th>City</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let user of allUsers$ | async" [routerLink]="['/user', user.id]">
        <td>{{ user.firstName }} {{ user.lastName }}</td>
        <td> {{ user.email }} </td>
        <td>{{ user.city }}</td>
      </tr>

    </tbody>

  </table>
</mat-card>

<button class="add-btn" (click)="openDialog()" mat-fab matTooltip="add user"
[matTooltipPosition]="position.value!">
    <mat-icon>add</mat-icon>
  </button>
