
<mat-card appearance="outlined">
  <table class="user-table">

    <tr> 
      <th>Name</th>
      <th>E-Mail</th>
      <th>City</th>
    </tr>

    <tr> 
      <td>Richard Wezel</td>
      <td>richard.wezelt-online.de</td>
      <td>Berlin</td>
    </tr>

    <tr> 
      <td>Richard Wezel</td>
      <td>richard.wezelt-online.de</td>
      <td>Berlin</td>
    </tr>

    <tr> 
      <td>Richard Wezel</td>
      <td>richard.wezelt-online.de</td>
      <td>Berlin</td>
    </tr>

    <tr> 
      <td>Richard Wezel</td>
      <td>richard.wezelt-online.de</td>
      <td>Berlin</td>
    </tr>

  </table>
</mat-card>

<button class="add-btn" (click)="openDialog()" mat-fab matTooltip="add user"
[matTooltipPosition]="position.value!">
    <mat-icon>add</mat-icon>
  </button>
